html,
body {
  width: 100%;
  overflow-x: clip;
  scroll-behavior: smooth;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}


.hero {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./Assets/Back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



:root {
  --purp-color: #a179f3;
  --inv-color: rgb(0, 0, 0, 0.25);
}

.visually-hidden {
  position: absolute;
  left: -999999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0vh;
  left: 0;
  right: 0;
  z-index: 999999;
  /* box-shadow: 0 2px 2px -2px yellow; */
  background-color: rgba(0, 0, 0, 0.71);
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 10vh;
}

.nav-logo {
  margin-left: 9.7rem;
}

#nav-button {
  position: absolute;
  left: -0.5rem;

}

.nav-button a {
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: var(--purp-color);
  border-radius: 10px;
  margin-right: 3rem;
  display: inline-block;
  text-align: center;
  border: 2.3px solid transparent;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.nav-links ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.nav-links ul li {
  list-style: none;
  font-family: raleway, sans-serif;
  font-size: 19px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 900;
  transition: color 0.4s, font-size 1s;
}

.nav-links a:hover {
  color: yellow;
  transition: 0.3s, font-size 0.3s;
  font-size: 24px;
}


.nav-button a:hover {
  background-color: white;
  color: var(--purp-color);
}

.mask-left {
  position: relative;
  top: 6vh;
}

.hero-txt-cont {
  width: 83%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 5rem;
  left: 3.5rem;
}

.hero-txt-cont h1 {
  font-family: raleway, sans-serif;
  color: white;
  font-size: 67px;
  font-weight: 900;
  line-height: 77px;
  letter-spacing: 0px;
  position: relative;
  bottom: -4rem;
}

div p {
  font-family: raleway, sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: white;
  letter-spacing: 0px;
  position: relative;
  bottom: -1rem;
}

.mask-right img:nth-of-type(2) {
  display: inline;
  float: right;
  position: relative;
  bottom: 10vh;
  right: 0.1vh;
  overflow: hidden;
}

.mask-yellow {
  position: relative;
  top: 32vh;
}

.mask-right img {
  max-width: 100%;
  height: auto;
}

.pos .nav-button {
  margin-left: 22.2vh;
  margin-top: -30px;
}

.mask-right-yellow {
  display: flex;
  position: relative;
  justify-content: right;
  bottom: 7vh;
}

.hi ul li a {
  color: red !important;
}


.pos {
  position: relative;
  top: 2%;
  right: 3%;
}

.container {
  max-width: 100%;

}



.core-wordpress {
  height: 75vh;
  padding: 7%;
  background-color: rgb(245, 245, 245);
  align-items: center;
  justify-content: center;
}

.cards-cont {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding-top: 10vh;
}

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: 30%;
  height: 350px;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.card:hover {
  transform: translateY(-20px);
  background-color: var(--purp-color);

}

.icon {
  width: 60px;
  height: 60px;
  background-color: #a68efc;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
  font-size: 30px;
}


.card-txt {
  color: #666;
  font-size: 15px;
}

.why-section {
  background-color: #f3eefc;
  padding: 50px 20px;
}

.why-section h2 {
  color: #9e64fe;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.why-section p {
  max-width: 600px;
  margin: auto;
  color: #555;
}

.card-title h3 {
  font-family: raleway, sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 138%;
  letter-spacing: 0px;
  margin-bottom: 15px;
}

.card:hover .card-txt p {
  color: white;
}

.card-txt p {
  color: #666666;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0px;
}

.line1 {

  width: 70px;
  height: 4px;
  margin-top: 20px;
  background-color: #000000;

}

.line2 {

  width: 70px;
  height: 4px;
  background-color: #000000;
  margin-top: 20px;
}

.frame-cont {
  margin-top: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  height: 150px;
  width: 100%;

}

.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  transition: transform 0.5s ease-in-out;
}

.frame img:hover {
  transform: scale(1.05);
}

.frame img {
  width: auto;
  height: 200px;
}

.why-choose-us-page {
  min-height: 100vh;
  background-color: #D7C4FF40;
  position: relative;
  padding-top: 5%;
}

.purp-mask-right {
  right: 0px;
  top: -60px;
  position: absolute;


}

.why-cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 3vh;
}

.why-cont h1 {
  color: var(--purp-color);
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 100%;
  letter-spacing: 0px;
}

.pa {
  color: rgba(102, 102, 102, 1);
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  letter-spacing: 0px;
  max-width: 60vh;
  width: 600px;
  padding: 1vh 0;
  text-align: center;
}

.yellow-mask-left {

  bottom: 0;
  top: auto;

}

.img-cont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: transparent;

}

.img-card {
  display: flex;
  background-color: transparent;
  flex-direction: column;
  width: 30%;
  transition: transform 2.5s ease-in-out;
}



.img-card h1 {
  font-family: 'Abril Fatface', cursive;
  font-weight: 400;
  font-size: 36px;
  line-height: 143%;
  letter-spacing: 0px;
  color: #666666;
  max-width: 400px;
  width: 400px;
}

.img-card p {
  max-width: 400px;
  width: 400px;
  font-family: raleway, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0px;
  color: #666666;
}

.img-box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.img-box {
  width: 100%;
  max-width: 500px;
  max-height: 380px;
  height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  transition: transform 0.6s ease, box-shadow 0.6s ease;

}

.img-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 20px 40px var(--purp-color);
  border: 5px solid var(--purp-color);
}

.img-box img:hover {
  transform: scale(1.08);
}

.text-box {
  padding: 2%;
}

.text-box p {
  padding: 2% 0;
}

.smart-marketing-page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.smart-txt-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  top: 10vw;
}

.smart-txt-cont h1 {
  font-family: raleway, sans-serif;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 160%;
  letter-spacing: 0px;
  position: relative;
  top: 2.4vw;
}

.smart-txt-cont p {
  font-family: raleway, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 180%;
  letter-spacing: 0px;
  color: #000000;
  max-width: 47%;
  position: relative;
  bottom: 1vw;

}

.smart-cont {
  width: 90%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  text-align: left;
  align-items: left;
  justify-content: stretch;
}

.smart-img-box {
  width: space-evenly;
  position: relative;

}

.smart-img-box img {
  width: 350;
  height: 475px;
  position: relative;
  top: 210px;
}

.smart-txt-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 370px;
  height: auto;
  align-items: center;
  padding: 9vw 0;
  margin-left: 3%;
  position: relative;
  bottom: -4vw;
}

.smart-txt-box p {
  font-family: raleway, sans-serif;
  font-weight: 300;
  font-size: 1.1rem;
  line-height: 160%;
  letter-spacing: 0px;
  width: 97%;
  color: rgb(0, 0, 0);
}


.custom-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 3rem;
  background-color: #ffffff;
  padding: 5rem;
  justify-items: center;
  align-items: center;
  height: auto;
  margin-top: 5.089%;
}



.circle {
  grid-column: 1;
  grid-row: 1;
  width: 271px;
  height: 320px;
  border-radius: 230%;
  object-fit: cover;
}


.portrait {
  grid-column: 2;
  grid-row: 1;
  width: 290px;
  height: 300px;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.wide {
  grid-column: 1 / span 2;
  grid-row: 2;
  width: 650px;
  height: 165px;
  object-fit: cover;

}

.services-page {

  min-height: 100vh;

}

.ser-cont h2 {
  color: var(--purp-color);
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  font-family: raleway, sans-serif;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  margin: 10%;
  position: relative;
  top: 10vw;
}

.ser-cont {
  padding-right: 3%;
}


.scroll-img-cont {
  width: 130%;
  margin-left: -16%;
  box-sizing: content-box;
  height: 35rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 2%;
}

.scroll-img-box {
  max-width: 50%;
  width: 400px;
  max-height: 80%;
  height: 550px;
  background-color: #fcd800;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Assets/more.png);
  background-size: cover;
  border: none;
  text-align: center;
  padding-top: 4%;
  padding-left: 0.5%;

}

.scroll-img-box h3 {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 48px;
  letter-spacing: 0px;
  color: white;

}

.scroll-img-box p {
  font-family: barlow, sans-serif;
  font-weight: 200;
  font-size: 1.3rem;
  line-height: 32px;
  letter-spacing: 0px;
  color: white;
  max-width: 93%;
  margin-top: 7%;

}

.dots-cont {
  flex-direction: column;
  display: flex;
  gap: 20px;
  width: auto;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 3vw;
}

.dots {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  position: absolute;
  bottom: 100px;
  margin-right: 50px;
  height: auto;
  gap: 10px;
  background-color: rgb(255, 255, 255);

}

.dots-circle {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 100%;
  background-color: var(--purp-color);
}

.dots-circle-inv {
  width: 18px;
  height: 18px;
  border: none;
  box-shadow: 0 2px 2px 1px rgba(38, 15, 209, 0.19);
  border-radius: 100%;
  background-color: var(--inv-color);
}


#new-button span {
  font-family: raleway, sans-serif;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0px;
  font-size: 1.7rem;
}